In [1]:
# Importing requird python packages
# Path to hsmpy package
HSMPY_PATH = r'\\CHCFPP01\Guest\MRajabi\Python Scripts'
import sys, os, arcpy, csv, json, math
sys.path.append(HSMPY_PATH)
import hsmpy3
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from datetime import datetime
from IPython.display import Image
from IPython.core.display import HTML 
import subprocess 
import webbrowser
import time
import copy
import scipy
from matplotlib.gridspec import GridSpec
from mailmerge import MailMerge
import shutil
import openpyxl
from scipy.optimize import curve_fit
from time import gmtime, strftime
from ipywidgets import FloatProgress
print(strftime("%Y-%m-%d %H:%M:%S"))

2018-12-26 09:11:20

In [2]:
Project_Dir = r'\\CHCFPP01\Proj\ILDOT\650511SAFETYPROGRAM\4_WorkData\WO19\IL_Crash_Assignment'
SourceDir = Project_Dir + '\\IRIS_Original'
OutputDir = Project_Dir + '\\IRIS_Cleaned'
GDB = Project_Dir + '\\CrashData_Cleaned\\IL_SafetyDB.gdb'
print(strftime("%Y-%m-%d %H:%M:%S"))

2018-12-26 09:11:20

In [3]:
# Read IRIS data condensed
print('[{}] reading data:'.format(strftime("%Y-%m-%d %H:%M:%S")))
IRIS_DF = pd.read_csv(OutputDir + '\\IRIS_05_17.csv',low_memory=False)
print('[{}]  - {}:'.format(strftime("%Y-%m-%d %H:%M:%S"),IRIS_DF.shape))
#print('[{}] indexing ...'.format(strftime("%Y-%m-%d %H:%M:%S")))
#idx1 = pd.Index(IRIS_DF.INVENTORY)
#idx2 = pd.IntervalIndex.from_tuples([(bmp,emp) for bmp,emp in zip(IRIS_DF.BMP,IRIS_DF.EMP)],closed = 'left')
#idx3 = pd.IntervalIndex.from_tuples([(datetime(year,1,1),datetime(year+1,1,1)) for year in IRIS_DF.YEAR],closed='left')
#IRIS_DF.index = pd.MultiIndex.from_arrays([idx1,idx2,idx3],names=['INVENTORY','Milepost','Time'])
print('[{}] done.'.format(strftime("%Y-%m-%d %H:%M:%S")))

[2018-12-26 09:11:20] reading data:
[2018-12-26 09:13:10]  - (5964369, 53):
[2018-12-26 09:13:10] done.

In [4]:
def DissolveDF(DF,RID,BMP,EMP,STIM,ETIM,DissFields):
    print('[{}] dissolving by milepost: {}'.format(strftime("%Y-%m-%d %H:%M:%S"),DissFields))
    print('[{}] sorting and indexing:'.format(strftime("%Y-%m-%d %H:%M:%S")))
    F1 = [RID,STIM,ETIM,BMP,EMP]
    F2 = DissFields
    df = DF[F1+F2]
    df.index = range(0,df.shape[0])
    df = df.sort_values(by=['INVENTORY','STIM'])
    df = df.fillna(-1)
    print('[{}]  - {}:'.format(strftime("%Y-%m-%d %H:%M:%S"),df.shape))
    print('[{}] grouping intervals:'.format(strftime("%Y-%m-%d %H:%M:%S")))
    idx = df.groupby([RID,STIM,ETIM] + F2)[BMP].shift(-1) != df[EMP]
    df['EMP2'] = df.loc[idx, EMP]
    df['EMP2'] = df.groupby([RID,STIM,ETIM] + F2)['EMP2'].fillna(method='backfill')
    df['EMP2'] = df['EMP2'].fillna(df[EMP]) 
    print('[{}] aggregating groups:'.format(strftime("%Y-%m-%d %H:%M:%S")))
    sdf = df.groupby([RID,STIM,ETIM] + F2 + ['EMP2'], as_index=False).agg({BMP: 'first', EMP: 'last'}).drop(['EMP2'], axis=1)
    print('[{}]  - {}:'.format(strftime("%Y-%m-%d %H:%M:%S"),sdf.shape))

    print('[{}] dissolving by time:'.format(strftime("%Y-%m-%d %H:%M:%S")))
    print('[{}] sorting and indexing:'.format(strftime("%Y-%m-%d %H:%M:%S")))
    df = sdf
    df.index = range(0,df.shape[0])
    df = df.sort_values(by=['INVENTORY','BMP'])
    print('[{}] grouping intervals:'.format(strftime("%Y-%m-%d %H:%M:%S")))
    idx = df.groupby([RID,BMP,EMP] + F2)[STIM].shift(-1) != df[ETIM]
    df['EMP2'] = df.loc[idx, ETIM]
    df['EMP2'] = df.groupby([RID,BMP,EMP] + F2)['EMP2'].fillna(method='backfill')
    df['EMP2'] = df['EMP2'].fillna(df[ETIM]) 
    print('[{}] aggregating groups:'.format(strftime("%Y-%m-%d %H:%M:%S")))
    sdf = df.groupby([RID,BMP,EMP] + F2 + ['EMP2'], as_index=False).agg({STIM: 'first', ETIM: 'last'}).drop(['EMP2'], axis=1)
    print('[{}]  - {}:'.format(strftime("%Y-%m-%d %H:%M:%S"),sdf.shape))
    print('[{}] sorting the output:'.format(strftime("%Y-%m-%d %H:%M:%S")))
    sdf = sdf.replace(-1,np.NaN)
    sdf = sdf[F1+F2].sort_values(F1)
    print('[{}] done!'.format(strftime("%Y-%m-%d %H:%M:%S")))
    return(sdf)

In [117]:
IRIS_DF['STIM'] = IRIS_DF.YEAR.apply(lambda x:datetime(x,1,1))
IRIS_DF['ETIM'] = IRIS_DF.YEAR.apply(lambda x:datetime(x+1,1,1))
FGroups = [['MARKED_RT','MARKED_RT2','MARKED_RT3','MARKED_RT4','MRK_RT_TYP'],
           ['ROAD_NAME','FUNC_CLASS','JUR_TYPE','URBAN','OP_1_2_WAY'],
           ['SP_LIM','ACC_CNTL','TOLL','TRK_RT','PG','LANES'],
           ['AADT','AADT_YR','HCV','SU_VOL','MU_VOL','HCV_MU_YR'],
           ['LANES','LN_WTH','LN_SPC','LN_SPC_TYP','LN_SPC_WTH','MED_TYP','MED_WTH','O_SHD1_TYP','O_SHD1_WTH','O_SHD2_TYP','O_SHD2_WTH','I_SHD1_TYP','I_SHD1_WTH','I_SHD2_TYP','I_SHD2_WTH','SURF_WTH'],
           ['SURF_TYP','SURF_YR'],
           ['PRK_LT','PRK_RT']]
for f,out in zip(FGroups,['Linkage','Volume','Geometry','Pavement','Roadside']):
    df = DissolveDF(IRIS_DF,'INVENTORY','BMP','EMP','STIM','ETIM',f)
    df.to_csv(OutputDir + '\\IRIS_Diss_{}.csv'.format(out),index=False)

Linkage
[2018-12-21 15:20:54] dissolving by milepost: ['MARKED_RT', 'MARKED_RT2', 'MARKED_RT3', 'MARKED_RT4', 'MRK_RT_TYP', 'ROAD_NAME', 'FUNC_CLASS', 'JUR_TYPE', 'URBAN', 'OP_1_2_WAY', 'SP_LIM', 'ACC_CNTL', 'TOLL', 'TRK_RT', 'PG']
[2018-12-21 15:20:54] sorting and indexing:
[2018-12-21 15:21:04]  - (5964369, 20):
[2018-12-21 15:21:04] grouping intervals:
[2018-12-21 15:37:13] aggregating groups:
[2018-12-21 15:37:29]  - (2675094, 20):
[2018-12-21 15:37:29] dissolving by time:
[2018-12-21 15:37:29] sorting and indexing:
[2018-12-21 15:37:30] grouping intervals:
[2018-12-21 15:48:49] aggregating groups:
[2018-12-21 15:48:54]  - (853991, 20):
[2018-12-21 15:48:54] sorting the output:
[2018-12-21 15:49:10] done!
Volume
[2018-12-21 15:49:53] dissolving by milepost: ['AADT', 'AADT_YR', 'HCV', 'SU_VOL', 'MU_VOL', 'HCV_MU_YR']
[2018-12-21 15:49:53] sorting and indexing:
[2018-12-21 15:49:58]  - (5964369, 11):
[2018-12-21 15:49:58] grouping intervals:
[2018-12-21 16:07:41] aggregating groups:
[2018-12-21 16:07:49]  - (2889349, 11):
[2018-12-21 16:07:49] dissolving by time:
[2018-12-21 16:07:49] sorting and indexing:
[2018-12-21 16:07:51] grouping intervals:
[2018-12-21 16:18:03] aggregating groups:
[2018-12-21 16:18:06]  - (616686, 11):
[2018-12-21 16:18:06] sorting the output:
[2018-12-21 16:18:15] done!
Geometry
[2018-12-21 16:18:37] dissolving by milepost: ['LANES', 'LN_WTH', 'LN_SPC', 'LN_SPC_TYP', 'LN_SPC_WTH', 'MED_TYP', 'MED_WTH', 'O_SHD1_TYP', 'O_SHD1_WTH', 'O_SHD2_TYP', 'O_SHD2_WTH', 'I_SHD1_TYP', 'I_SHD1_WTH', 'I_SHD2_TYP', 'I_SHD2_WTH', 'SURF_WTH']
[2018-12-21 16:18:37] sorting and indexing:
[2018-12-21 16:18:44]  - (5964369, 21):
[2018-12-21 16:18:44] grouping intervals:
[2018-12-21 16:37:31] aggregating groups:
[2018-12-21 16:37:46]  - (3858649, 21):
[2018-12-21 16:37:46] dissolving by time:
[2018-12-21 16:37:46] sorting and indexing:
[2018-12-21 16:37:48] grouping intervals:
[2018-12-21 16:50:02] aggregating groups:
[2018-12-21 16:50:08]  - (1152776, 21):
[2018-12-21 16:50:08] sorting the output:
[2018-12-21 16:50:24] done!
Pavement
[2018-12-21 16:51:19] dissolving by milepost: ['SURF_TYP', 'SURF_YR']
[2018-12-21 16:51:19] sorting and indexing:
[2018-12-21 16:51:22]  - (5964369, 7):
[2018-12-21 16:51:22] grouping intervals:
[2018-12-21 17:05:02] aggregating groups:
[2018-12-21 17:05:07]  - (2995174, 7):
[2018-12-21 17:05:07] dissolving by time:
[2018-12-21 17:05:07] sorting and indexing:
[2018-12-21 17:05:08] grouping intervals:
[2018-12-21 17:10:28] aggregating groups:
[2018-12-21 17:10:30]  - (410496, 7):
[2018-12-21 17:10:30] sorting the output:
[2018-12-21 17:10:35] done!
Roadside
[2018-12-21 17:10:49] dissolving by milepost: ['PRK_LT', 'PRK_RT']
[2018-12-21 17:10:49] sorting and indexing:
[2018-12-21 17:10:53]  - (5964369, 7):
[2018-12-21 17:10:53] grouping intervals:
[2018-12-21 17:21:31] aggregating groups:
[2018-12-21 17:21:36]  - (2318278, 7):
[2018-12-21 17:21:36] dissolving by time:
[2018-12-21 17:21:36] sorting and indexing:
[2018-12-21 17:21:37] grouping intervals:
[2018-12-21 17:28:39] aggregating groups:
[2018-12-21 17:28:41]  - (648780, 7):
[2018-12-21 17:28:41] sorting the output:
[2018-12-21 17:28:50] done!

In [6]:
FGroups = [['MARKED_RT','MARKED_RT2','MARKED_RT3','MARKED_RT4','MRK_RT_TYP','ROAD_NAME','FUNC_CLASS','JUR_TYPE','URBAN','OP_1_2_WAY','SP_LIM','ACC_CNTL','TOLL','TRK_RT','PG'],
           ['AADT','AADT_YR','HCV','SU_VOL','MU_VOL','HCV_MU_YR'],
           ['LANES','LN_WTH','LN_SPC','LN_SPC_TYP','LN_SPC_WTH','MED_TYP','MED_WTH','O_SHD1_TYP','O_SHD1_WTH','O_SHD2_TYP','O_SHD2_WTH','I_SHD1_TYP','I_SHD1_WTH','I_SHD2_TYP','I_SHD2_WTH','SURF_WTH'],
           ['SURF_TYP','SURF_YR'],
           ['PRK_LT','PRK_RT']]
for f,out in zip(FGroups,['Linkage','Volume','Geometry','Pavement','Roadside']):
    print(OutputDir + '\\IRIS_Diss_{}.csv'.format(out))
    #df = pd.read_csv(OutputDir + '\\IRIS_Diss_{}.csv'.format(out),index=False)

\\CHCFPP01\Proj\ILDOT\650511SAFETYPROGRAM\4_WorkData\WO19\IL_Crash_Assignment\IRIS_Cleaned\IRIS_Diss_Linkage.csv
\\CHCFPP01\Proj\ILDOT\650511SAFETYPROGRAM\4_WorkData\WO19\IL_Crash_Assignment\IRIS_Cleaned\IRIS_Diss_Volume.csv
\\CHCFPP01\Proj\ILDOT\650511SAFETYPROGRAM\4_WorkData\WO19\IL_Crash_Assignment\IRIS_Cleaned\IRIS_Diss_Geometry.csv
\\CHCFPP01\Proj\ILDOT\650511SAFETYPROGRAM\4_WorkData\WO19\IL_Crash_Assignment\IRIS_Cleaned\IRIS_Diss_Pavement.csv
\\CHCFPP01\Proj\ILDOT\650511SAFETYPROGRAM\4_WorkData\WO19\IL_Crash_Assignment\IRIS_Cleaned\IRIS_Diss_Roadside.csv

In [8]:
df = pd.read_csv(r'\\CHCFPP01\Proj\ILDOT\650511SAFETYPROGRAM\4_WorkData\WO19\IL_Crash_Assignment\IRIS_Cleaned\IRIS_Diss_Linkage.csv')

C:\Users\mr068144\AppData\Roaming\Python\Python35\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (5,6,7,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
df

,INVENTORY,STIM,ETIM,BMP,EMP,MARKED_RT,MARKED_RT2,MARKED_RT3,MARKED_RT4,MRK_RT_TYP,ROAD_NAME,FUNC_CLASS,JUR_TYPE,URBAN,OP_1_2_WAY,SP_LIM,ACC_CNTL,TOLL,TRK_RT,PG
0,001 00001 000835,2013-01-01,2014-01-01,0.00,0.04,NaN,NaN,NaN,NaN,NaN,CANNONBALL DR W,7.0,4.0,0,2.0,NaN,0,0,0,L1
1,001 00001 000835,2014-01-01,2015-01-01,0.00,0.04,NaN,NaN,NaN,NaN,NaN,Cannonball Dr,7.0,4.0,0,2.0,NaN,0,0,0,L1
2,001 00001 001125,2013-01-01,2017-01-01,0.00,0.06,NaN,NaN,NaN,NaN,NaN,RIVER HILLS DR,7.0,4.0,0,2.0,NaN,0,0,0,L1
3,001 00001 002250,2013-01-01,2014-01-01,0.00,0.11,NaN,NaN,NaN,NaN,NaN,W PARK ST,7.0,4.0,0,2.0,NaN,0,0,0,L1
4,001 00001 002250,2014-01-01,2015-01-01,0.00,0.11,NaN,NaN,NaN,NaN,NaN,NaN,7.0,4.0,0,2.0,NaN,0,0,0,L1
5,001 00001 003135,2013-01-01,2014-01-01,0.00,0.07,NaN,NaN,NaN,NaN,NaN,E CENTER ST,7.0,4.0,0,2.0,NaN,0,0,0,L1
6,001 00001 003135,2014-01-01,2018-01-01,0.00,0.07,NaN,NaN,NaN,NaN,NaN,Center St,7.0,4.0,0,2.0,NaN,0,0,0,L1
7,001 00001 003345,2013-01-01,2015-01-01,0.00,0.13,NaN,NaN,NaN,NaN,NaN,SHADY RD,7.0,4.0,0,2.0,NaN,0,0,0,L1
8,001 00001 003670,2013-01-01,2015-01-01,0.00,0.20,NaN,NaN,NaN,NaN,NaN,WITTLER DR,7.0,4.0,0,2.0,NaN,0,0,0,L1
9,001 00001 004565,2013-01-01,2014-01-01,0.00,0.18,NaN,NaN,NaN,NaN,NaN,W SEYMOUR ST,7.0,4.0,0,2.0,NaN,0,0,0,L1
10,001 00001 004565,2014-01-01,2018-01-01,0.00,0.18,NaN,NaN,NaN,NaN,NaN,Seymour St,7.0,4.0,0,2.0,NaN,0,0,0,L1
11,001 00001 004685,2013-01-01,2017-01-01,0.00,0.06,NaN,NaN,NaN,NaN,NaN,MILL ST,7.0,4.0,0,2.0,NaN,0,0,0,L1
12,001 00001 004780,2013-01-01,2014-01-01,0.00,0.15,NaN,NaN,NaN,NaN,NaN,DIANA DR,7.0,4.0,4780,2.0,NaN,0,0,0,L3
13,001 00001 005847,2013-01-01,2015-01-01,0.00,0.46,NaN,NaN,NaN,NaN,NaN,SHAFFER LN,7.0,4.0,0,2.0,NaN,0,0,0,L1
14,001 00001 005847,2015-01-01,2017-01-01,0.00,0.10,NaN,NaN,NaN,NaN,NaN,SHAFFER LN,7.0,4.0,0,2.0,NaN,0,0,0,L1
15,001 00002 000835,2013-01-01,2014-01-01,0.00,0.08,NaN,NaN,NaN,NaN,NaN,S FIRST ST,7.0,4.0,0,2.0,NaN,0,0,0,L1
16,001 00002 000835,2014-01-01,2015-01-01,0.00,0.08,NaN,NaN,NaN,NaN,NaN,1st St,7.0,4.0,0,2.0,NaN,0,0,0,L1
17,001 00002 001125,2013-01-01,2017-01-01,0.00,0.17,NaN,NaN,NaN,NaN,NaN,CORRECTIONAL DR,7.0,4.0,0,2.0,NaN,0,0,0,L1
18,001 00002 002250,2013-01-01,2015-01-01,0.00,0.10,NaN,NaN,NaN,NaN,NaN,E 3RD ST,7.0,4.0,0,2.0,NaN,0,0,0,L1
19,001 00002 003345,2013-01-01,2018-01-01,0.00,0.12,NaN,NaN,NaN,NaN,NaN,CHURCH ST,7.0,4.0,0,2.0,NaN,0,0,0,L1
20,001 00002 003670,2013-01-01,2015-01-01,0.00,0.04,NaN,NaN,NaN,NaN,NaN,LAUNER DR,7.0,4.0,0,2.0,NaN,0,0,0,L1
21,001 00002 003670,2015-01-01,2018-01-01,0.00,0.04,NaN,NaN,NaN,NaN,NaN,Laouner Dr,7.0,4.0,0,2.0,NaN,0,0,0,L1
22,001 00002 004780,2013-01-01,2017-01-01,0.00,0.10,NaN,NaN,NaN,NaN,NaN,PENNY LN,7.0,4.0,4780,2.0,NaN,0,0,0,L3
23,001 00002 004780,2017-01-01,2018-01-01,0.00,0.10,NaN,NaN,NaN,NaN,NaN,Penny Ln,7.0,4.0,4780,2.0,NaN,0,0,0,L3
24,001 00003 000835,2013-01-01,2017-01-01,0.00,0.29,NaN,NaN,NaN,NaN,NaN,SHAWNEE DR,7.0,4.0,0,2.0,NaN,0,0,0,L1
25,001 00003 000835,2017-01-01,2018-01-01,0.00,0.29,NaN,NaN,NaN,NaN,NaN,SHAWNEE DR,7.0,9.0,0,2.0,NaN,0,0,0,L1
26,001 00003 001125,2013-01-01,2014-01-01,0.00,0.05,NaN,NaN,NaN,NaN,NaN,W OUTER BELT DR,7.0,4.0,0,2.0,NaN,0,0,0,L1
27,001 00003 001125,2014-01-01,2017-01-01,0.00,0.05,NaN,NaN,NaN,NaN,NaN,Outer Belt Dr,7.0,4.0,0,2.0,NaN,0,0,0,L1
28,001 00003 002250,2013-01-01,2015-01-01,0.00,0.25,NaN,NaN,NaN,NaN,NaN,SMITH ST,7.0,4.0,0,2.0,NaN,0,0,0,L1
29,001 00003 003345,2013-01-01,2018-01-01,0.00,0.17,NaN,NaN,NaN,NaN,NaN,SERVICE DR NO 3,7.0,4.0,0,2.0,NaN,0,0,0,L1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
853961,102 70388 000000,2012-01-01,2013-01-01,0.00,0.07,NaN,NaN,NaN,NaN,NaN,NaN,7.0,7.0,0,2.0,NaN,0,0,0,()
853962,102 70388 000000,2012-01-01,2013-01-01,0.07,0.29,NaN,NaN,NaN,NaN,NaN,NaN,7.0,9.0,0,2.0,NaN,0,0,0,()
853963,102 70388 000000,2013-01-01,2018-01-01,0.00,0.07,NaN,NaN,NaN,NaN,NaN,Knapp Ct,7.0,7.0,0,2.0,NaN,0,0,0,S13
853964,102 70388 000000,2013-01-01,2018-01-01,0.07,0.29,NaN,NaN,NaN,NaN,NaN,Knapp Dr,7.0,9.0,0,2.0,NaN,0,0,0,L1
853965,102 70389 000000,2005-01-01,2012-01-01,0.00,0.23,NaN,NaN,NaN,NaN,NaN,NaN,7.0,9.0,0,2.0,NaN,0,0,0,L1
853966,102 70389 000000,2012-01-01,2013-01-01,0.00,0.23,NaN,NaN,NaN,NaN,NaN,NaN,7.0,9.0,0,2.0,NaN,0,0,0,()
853967,102 70389 000000,2013-01-01,2018-01-01,0.00,0.23,NaN,NaN,NaN,NaN,NaN,Pleasant View Ct,7.0,9.0,0,2.0,NaN,0,0,0,L1
853968,102 70392 000000,2005-01-01,2012-01-01,0.00,0.47,NaN,NaN,NaN,NaN,NaN,TIMBERLINE RD,7.0,9.0,0,2.0,NaN,0,0,0,L1
853969,102 70392 000000,2012-01-01,2013-01-01,0.00,0.47,NaN,NaN,NaN,NaN,NaN,TIMBERLINE RD,7.0,9.0,0,2.0,NaN,0,0,0,()
853970,102 70392 000000,2013-01-01,2018-01-01,0.00,0.47,NaN,NaN,NaN,NaN,NaN,TIMBERLINE RD,7.0,9.0,0,2.0,NaN,0,0,0,L1
853971,102 79201 000000,2005-01-01,2012-01-01,0.00,0.26,NaN,NaN,NaN,NaN,NaN,NaN,7.0,9.0,0,2.0,NaN,0,0,0,L1
853972,102 79201 000000,2012-01-01,2013-01-01,0.00,0.26,NaN,NaN,NaN,NaN,NaN,NaN,7.0,9.0,0,2.0,NaN,0,0,0,()
853973,102 79201 000000,2013-01-01,2018-01-01,0.00,0.26,NaN,NaN,NaN,NaN,NaN,Victory Ave,7.0,9.0,0,2.0,NaN,0,0,0,L1
853974,102 79202 000000,2005-01-01,2012-01-01,0.00,0.06,NaN,NaN,NaN,NaN,NaN,NaN,7.0,9.0,0,2.0,NaN,0,0,0,L1
853975,102 79202 000000,2012-01-01,2013-01-01,0.00,0.06,NaN,NaN,NaN,NaN,NaN,NaN,7.0,9.0,0,2.0,NaN,0,0,0,()
853976,102 79202 000000,2013-01-01,2018-01-01,0.00,0.06,NaN,NaN,NaN,NaN,NaN,NaN,7.0,9.0,0,2.0,NaN,0,0,0,L1
853977,102 79203 000000,2005-01-01,2012-01-01,0.00,0.05,NaN,NaN,NaN,NaN,NaN,NaN,7.0,9.0,0,2.0,NaN,0,0,0,L1
853978,102 79203 000000,2012-01-01,2013-01-01,0.00,0.05,NaN,NaN,NaN,NaN,NaN,NaN,7.0,9.0,0,2.0,NaN,0,0,0,()
853979,102 79203 000000,2013-01-01,2018-01-01,0.00,0.05,NaN,NaN,NaN,NaN,NaN,NaN,7.0,9.0,0,2.0,NaN,0,0,0,L1
853980,102 80001 000000,2005-01-01,2012-01-01,0.00,1.34,NaN,NaN,NaN,NaN,NaN,NaN,7.0,2.0,0,2.0,NaN,0,0,0,L1
853981,102 80001 000000,2012-01-01,2013-01-01,0.00,1.34,NaN,NaN,NaN,NaN,NaN,NaN,7.0,2.0,0,2.0,NaN,0,0,0,()
853982,102 80001 000000,2013-01-01,2018-01-01,0.00,1.34,NaN,NaN,NaN,NaN,NaN,Conservation Ln,7.0,2.0,0,2.0,NaN,0,0,0,L1
853983,102 80002 000000,2005-01-01,2012-01-01,0.00,0.21,NaN,NaN,NaN,NaN,NaN,NaN,7.0,1.0,0,2.0,NaN,0,0,0,S1
853984,102 80002 000000,2012-01-01,2013-01-01,0.00,0.21,NaN,NaN,NaN,NaN,NaN,NaN,7.0,1.0,0,2.0,NaN,0,0,0,()
853985,102 80002 000000,2013-01-01,2016-01-01,0.00,0.21,NaN,NaN,NaN,NaN,NaN,NaN,7.0,1.0,0,2.0,NaN,0,0,0,S1
853986,102 80002 000000,2016-01-01,2018-01-01,0.00,0.11,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0,0,2.0,NaN,0,0,0,S1
853987,102 80002 000000,2016-01-01,2018-01-01,0.11,0.21,NaN,NaN,NaN,NaN,NaN,NaN,7.0,1.0,0,2.0,NaN,0,0,0,S1
853988,102 80229 000000,2005-01-01,2012-01-01,0.00,0.16,NaN,NaN,NaN,NaN,NaN,NaN,7.0,1.0,0,2.0,NaN,0,0,0,S1
853989,102 80229 000000,2012-01-01,2013-01-01,0.00,0.16,NaN,NaN,NaN,NaN,NaN,NaN,7.0,1.0,0,2.0,NaN,0,0,0,()
853990,102 80229 000000,2013-01-01,2018-01-01,0.00,0.16,NaN,NaN,NaN,NaN,NaN,4th South St,7.0,1.0,0,2.0,NaN,0,0,0,S1

In [10]:
# Null values count
df = pd.DataFrame(index=list(IRIS_DF.columns),columns=['Nulls'])
for y in df.index:
    df.loc[y,'Nulls'] = len(IRIS_DF[y])-IRIS_DF[y].count()
df

              Nulls
INVENTORY         0
BMP               0
EMP               0
LENGTH            0
COUNTY            0
KEY_RT_SEG  5939583
KEY_RT_TYP        0
KEY_RT_NBR        0
KEY_RT_SUF  5100622
KEY_RT_APP        0
KEY_RT_APN        0
MARKED_RT   5067172
MARKED_RT2  5860259
MARKED_RT3  5954756
MARKED_RT4  5963859
MRK_RT_TYP  5067172
ROAD_NAME    912959
FUNC_CLASS        3
JUR_TYPE         10
URBAN             0
OP_1_2_WAY        2
SP_LIM      4050397
ACC_CNTL          0
TOLL              0
TRK_RT            0
PG                0
AADT        2409754
AADT_YR     2409897
HCV         5070897
SU_VOL      5071107
MU_VOL      5070055
HCV_MU_YR   5071186
LANES        537484
LN_WTH      3005817
LN_SPC      5541293
LN_SPC_TYP  5541293
LN_SPC_WTH  5541469
MED_TYP           0
MED_WTH     5379930
O_SHD1_TYP        0
O_SHD1_WTH   686786
O_SHD2_TYP        0
O_SHD2_WTH  5608232
I_SHD1_TYP        0
I_SHD1_WTH  5718746
I_SHD2_TYP        0
I_SHD2_WTH  5909838
SURF_TYP          0
SURF_WTH         45
SURF_YR     3138298
PRK_LT      2256730
PRK_RT      2238701
YEAR              0

In [12]:
df.sort_values('Nulls')

              Nulls
INVENTORY         0
SURF_TYP          0
I_SHD2_TYP        0
I_SHD1_TYP        0
O_SHD2_TYP        0
O_SHD1_TYP        0
MED_TYP           0
PG                0
TRK_RT            0
TOLL              0
ACC_CNTL          0
URBAN             0
YEAR              0
EMP               0
COUNTY            0
KEY_RT_NBR        0
LENGTH            0
KEY_RT_APP        0
KEY_RT_APN        0
KEY_RT_TYP        0
BMP               0
OP_1_2_WAY        2
FUNC_CLASS        3
JUR_TYPE         10
SURF_WTH         45
LANES        537484
O_SHD1_WTH   686786
ROAD_NAME    912959
PRK_RT      2238701
PRK_LT      2256730
AADT        2409754
AADT_YR     2409897
LN_WTH      3005817
SURF_YR     3138298
SP_LIM      4050397
MRK_RT_TYP  5067172
MARKED_RT   5067172
MU_VOL      5070055
HCV         5070897
SU_VOL      5071107
HCV_MU_YR   5071186
KEY_RT_SUF  5100622
MED_WTH     5379930
LN_SPC_TYP  5541293
LN_SPC      5541293
LN_SPC_WTH  5541469
O_SHD2_WTH  5608232
I_SHD1_WTH  5718746
MARKED_RT2  5860259
I_SHD2_WTH  5909838
KEY_RT_SEG  5939583
MARKED_RT3  5954756
MARKED_RT4  5963859